body{
    margin: 0;
}

header{
    background-color: #cfcccc;
    width: 100vw;
    margin: 0;
}

.header-cont-wrapper{
    display: flex;
    width: 65vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-radius: 24px;
}

.logo {
    width: 50px;
}

.nav-link-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 30%;
}


.nav-link{
    text-decoration: none;
    color: black;
}

.reg-btn-container{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 12px;
    border: 2px solid #0000FF;
    width: 50px;
 }

.login-btn{
    background-color: #0000FF;
    color: #ffffff;
}

.sign-up-btn{
    background-color: #ffffff;
    border-color: #ffffff ;
}


.hero-section-wrapper{
    margin-top: 2-00px;
}